<!DOCTYPE html>
<html lang="{{ meta.lang }}" style="overflow-y:hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="a33683a3bd9dc8c5" />
    <title>{{ meta.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    {% include "meta.njk" %}
</head>
<body class="mainpage">
  {% include "header/mainpage-header.njk" %}
  {{ content | safe }}
  <div class="mainpage__mascot">
    <picture>
      <source srcset="/assets/images/mainpage/mascot-doka.svg" type="image/svg+xml">
      <img
        alt="Пёс Дока"
        src="/assets/images/mainpage/mascot-doka.png"
        class="mainpage__mascot-image" />
    </picture>
  </div>
  {% include "footer/mainpage-footer.njk" %}
  <script src="{{ 'assets/scripts/main.js' | url }}"></script>
</body>
</html>
